<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <title>PokeShop</title>
</head>

<body>
    <div class="container mt-5">
        <nav class="nav justify-content-end navbar-light bg-light">
            <a class="nav-link active" href="/trainer/{{request.session.user_id}}">Trainer Profile</a>
            <a class="nav-link" href="#">Battle Dome</a>
            <a class="nav-link" href="/logout">Log Out</a>
        </nav>
        <div class="container-fluid border">
            <div class="row mt-5 mb-5">
                <div class="container border" id='pokedata' style="width: 45%">
                    <img class='rounded mx-auto' style='width:200px' src='/static/pokedex_app/img/pkmns/{{pokeData.pk_id}}.png' alt="{{pokeData.name}}">
                    <div class="container ">
                        <ul>
                            <li>Pokemon ID: {{pokeData.pk_id}}</li>
                            <li>Pokemon Name: {{pokeData.name|capfirst}}</li>
                            <li>Type: {% for type in pokeTypes %}
                                <span>{{ type.name|capfirst }}</span>{% endfor %}</li>
                            <li>Height: {{pokeData.pk_height}} m</li>
                            <li>Weight: {{pokeData.pk_weight}} kg</li>
                            <li>Location: Yeah rigth... as if I have the time</li>
                            <li> Actions:
                                <ul>
                                    <li>
                                        <a href="{{pokeData.pk_id}}/add">Add to team</a>
                                    </li>
                                    <li>add to favorites</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container-fluid border " id='pokedex_list' style="width: 45%;overflow-y:scroll; height:500px ">
                    {% for pk in pokemons %}
                    <p>
                        <img class='img img-thumbnail' style='width:50px' src='/static/pokedex_app/img/pkmns/{{pk.pk_id}}.png' alt="{{pk.name}}">
                        <a href="{{pk.pk_id}}"> {{pk.name|capfirst}}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>