<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="disable-extension-feature" content="read-dom" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script>
        $.get("https://pokeapi.co/api/v2/pokemon/{{ pokemon_ID }}/", function (res) {
            console.log(res);
            var pk_ID = res.id;
            console.log('name: ' + res.name);
            console.log('heigth: ' + res.height);
            console.log('weigth: ' + res.weight);
            console.log('url for sprite: ' + res.sprites.front_default);
            for (var i = 0; i < res.forms.length; i++) {
                console.log('form: ' + (i + 1) + ', ' + res.forms[i].name);
            }
            for (var i = 0; i < res.types.length; i++) {
                console.log('type: ' + (i + 1) + ', ' + res.types[i].type.name);
            }
        }, "json");

    </script>
    <title>Document</title>
</head>

<body>
    <form action="builder/add" method="post">
        <div class="form-group">
            <label for="poke_ID"></label>
            <input type="number" name="poke_ID" id="poke_ID" class="form-control" value=$pk_ID aria-describedby="helpId">
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week" name=""
                id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week" name=""
                id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
        </div>
    </form>
</body>

</html>