<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <title>Trainer Profile</title>
</head>

<body>
    <div class="container mt-5">
        <nav class="nav justify-content-end navbar-light bg-light">
            <a class="nav-link active" href="/pokedex/">Pokedex</a>
            <a class="nav-link active" href="/trainer/{{request.session.user_id}}/edit">Edit Profile</a>
            <a class="nav-link" href="#">Battle Dome</a>
            <a class="nav-link" href="/logout">Log Out</a>
        </nav>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <div class="container justify-content-centered row align-items-top mr-0 ml-0 pr-0 pl-0">
            <div class="container border col">
                <h3 class="navbar-brand">Hello {{trainer.name}}!</h3>
                <img src="{{trainer.image.url}}" class="rounded mx-auto d-block" alt="Trainer Profile image">
                <a href="/trainer/{{request.session.user_id}}/edit">Edit Profile</a>
                <p>Trainer name: {{trainer.trainername}}</p>
                <p>Battles won: {{trainer.battles_won}}</p>
                <p>Battles lost: {{trainer.battles_lost}}</p>
                <p>Trainer since: {{trainer.created_at}}</p>
                <a href="/pokedex">Go catch more pokemons</a>
            </div>
            <div class="container border col">
                <div class="container">
                    <form action='/trainer/{{trainer.id}}/add_team' method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="team_name" class="col-sm-1-12 col-form-label">Create New Team</label>
                            <div class="col-sm-1-12">
                                <input type="text" class="form-control" name="team_name" id="team_name" placeholder="new team name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Create New Team</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container-fluid">
                    <h5>Selected Team:</h5>
                    <h4>{{selected_team.name}}</h4>
                </div>
                <div class="container-fluid">
                    {% if members %} {% for pokemon in members%}

                    <img class='img-thumbnail' style='width:70px' src='/static/pokedex_app/img/pkmns/{{pokemon.pk_id}}.png' alt="{{pokemon.name}}">
                    <ul class="list-inline">
                        <li class="list-inline-item">{{pokemon.name|capfirst}}</li>
                        <li class="list-inline-item">HP: {{pokemon.health}}</li>
                        <li class="list-inline-item">ATT: {{pokemon.attack}}</li>
                        <li class="list-inline-item">DEF: {{pokemon.defense}}</li>
                    </ul>

                    {%endfor%}{%endif%}
                </div>

            </div>
            <div class="container border col">
                <h4>Team Stats</h4>
                <p>Total Attack Power: {{attack}}</p>
                <p>Total Defense Power: {{defense}}</p>
                <h4>Selected Team:</h4>
                {% for team in teams %}
                <div class="container-fluid">
                    <a name="{{team.name}}" id="{{team.name}}" class="btn btn-light" href="/trainer/{{trainer.id}}/{{team.id}}/select" role="button">{{team.name}}</a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</body>

</html>