<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Battlegrounds</title>
</head>
<body>
    <p class="text-right"><a href="/pokedex">Pokedex</a> <a href="/profile">Trainer Profile</a> <a href="/logout">Logout</a></p>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="trainer image" alt="Trainer image">
                <img src="pokemon1" alt="">
            </div>

        </div>
    </div>
</body>
</html>